.display {
    display: flex;  
    flex-direction: column;
}

.login-register form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    padding: 10px;
    font-weight: bold;
    background-color: yellow;
    
}

.log-reg-button {
    margin:10px
}

