.header {
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab{
    margin: 0 50px;
    cursor: pointer;
    padding: 20px;
}

.tab a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.header .user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-size: 20px;
    color: black;
}
.name {
    text-decoration: none;
    font-weight: bold;
}

.avatar {
    border: 2px solid lightgray;
    background-size: cover;
    padding: 10px;
    border-radius: 50%;
    margin-right: 50px;
    height: 50px;
    width: 50px;
  }
  