
@font-face {
  font-family: 'AmaticSC-Bold';
  src: url('AmaticSC-Bold.eot?#iefix') format('embedded-opentype'),  url('AmaticSC-Bold.woff') format('woff'), url('AmaticSC-Bold.ttf')  format('truetype'), url('AmaticSC-Bold.svg#AmaticSC-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
