.menu {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.select div {
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    font-size: 30px;
}

.selection {
    flex-grow: 1;
    justify-content: center;
}

.normal {
    justify-content: space-between;
    background-color: #0086b3;
    color:whitesmoke
}

.active {
    background-color: yellow;
}
