.topics {
    display: flex;
    flex-wrap: wrap;
}
.topic {
    border : 5px whitesmoke solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0086b3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px;
    color: whitesmoke;
    flex-direction: row;
    font-size: 30px;
    cursor: pointer;
    
}

.topic:before { 
    content: '';
    background-color: rgba(39, 38, 38, 0.3);
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 50%;
}