.banner {
    border-bottom: 1px solid rgb(42, 46, 68);
    height: 290px;
    background-color: #0086b3;
}

.welcome:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}   

