.main-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.slides {
    flex-grow: 1;
}


.arrows {
    visibility: hidden;
    color:whitesmoke;
    font-weight: thin;
    font-size: 40px;
    cursor: pointer;
    margin: 0 30px;  
    flex-grow: 0;  
}

.arrows:hover {
    font-size: 50px;
    transition: ease-in-out 0.3s;

}
